<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Wattsun </title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/assets/bootstrap.css" rel="stylesheet">
		<link href="/assets/flat-ui.css" rel="stylesheet">
		<link href="/assets/reset.css" rel="stylesheet">
		<link href="/assets/style_purchaseitq.css" rel="stylesheet">

		<link href="/assets/mediaqueries_purchase_itq.css" rel="stylesheet">
		<link rel="stylesheets" type="text/css" href="/assets/dataTables.bootstrap.css">
		<script src="/assets/jquery.js"></script>
		<script src="/assets/jquery.customSelect.js"></script>

		<script src="/assets/bootstrap.min.js"></script>
		<script src="/assets/jquery.dataTables.min.js"></script>
		<script src="/assets/dataTables.bootstrap.js"></script>
		<script>
			$(document).ready(function() {

				$('#example').dataTable();

				$('.dataTables_filter input').attr("placeholder", "Search by address, name, city, zip, anything!");
				$('.dataTables_filter input').attr("class", "form-control");
				$('#example_paginate').css({
					"width" : "423px",
					"font-size" : "14px",
					"float" : "right",
					"margin-bottom" : "25px"
				});
				$('.dataTables_filter input').css({
					"width" : "90%",
					"margin-top" : "-10px",
					"position" : "absolute",
					"right" : "22px"
				});
				//                $('.dataTables_filter input').css("margin-top", "5px");
				$('table').css({
					"width" : "100%"
				});
				$('#example_length select.form-control').css("height", "46px");
				$('#example_length').css({
					"margin-left" : "5px",
					"padding" : "5px 0px"
				});
				$('#example_info.dataTables_info').css({
					"display" : "none"
				});

			});
			
			
			
		function abc(tranc_id)
          {
          	
          	$.ajax({
        	url: "/homes/viewtransction",
        	type: "POST",
        	dataType: 'JSON',
        	data: { 'tranc_id' : tranc_id }, 
        	success: function(response){
        			
        			    	window.location.href='/homes/userpurchaseview'		
        	        }
        	 });          	
          }
			
			
			
			
			
		</script>
		<script type="text/javascript">
			$(function() {

				$('select.styled').customSelect();

			});
		</script>

	</head>
	<body>

		<div class="container">
			<div id="bgnav" class="navbar navbar-fixed-top navbar-inverse">
				<div id="navigation" role="navigation">

					<div class="navbar-header">

						<button id="btn_collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navlink" style="color: white;" href='#Top'>
						<div id="logo">
							<p class="logo_txt">
								Wattsun
							</p>
						</div> </a>

					</div>
					<div id="top_menu_scroll" class="collapse navbar-collapse no-transition">
						<ul id="pull_right" class="nav navbar-nav">

							<li id="else" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">What else does WattSun do? <b style="color:#fff" class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Instant Target Map
										<br />
										Coming soon!</a>
									</li>
									<li>
										<a href="#">Instant 3D Home
										<br />
										Coming soon!</a>
									</li>
								</ul>
							</li>
							<li id="faq">
								<a class="navlink" href="/homes/faq">FAQs</a>
							</li>

							<li id="setn" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Settings<b style="color:#fff" class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="/homes/userprofile">Profile</a>
									</li>
									<li>
										<a href="/homes/userpayment">Payment</a>
									</li>
									<li>
										<a href="#">Purchases</a>
									</li>
									<li>
										<a href="/homes/userproblem">Problem?</a>
									</li>
								</ul>
							</li>
							<li>
								<form action="../homes/logout" method="post">
									<input id="login" class="form-control" type="submit" value="Logout"/>

								</form>
							</li>

						</ul>

					</div><!-- /.nav-collapse -->

				</div><!-- /.navbar -->
			</div>
		</div>
		<!--End .container-->

		<div id="bg_wrapper">
			<div id="content_wrapper">
				<div id="sidebar_menu" style="float:left;">
					<ul id="menu_list" class="nav nav-pills nav-stacked">
						<li id="profile">
							<a href="/homes/userprofile">Profile</a>
						</li>
						<li id="payment">
							<a href="/homes/userpayment">Payment</a>
						</li>
						<li id="purchases"  class="panel">

							<a  class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Purchases</a>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li id="itq_panel">
											<a href="#">Instant Target Qualification</a>
										</li>
										<li id="itm_panel">
											<a href="#">Instant Target Map</a>
										</li>
										<li id="ih_panel">
											<a href="#">Instant 3D Home</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li id="problem">
							<a href="/homes/userproblem">Problem?</a>
						</li>
					</ul>
				</div>
				<div id="menu_content" style="float:right;position:relative">
					<div id="menu_content_header">
						Tell us how we can help
					</div>
					<div>

						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
							<thead>
								<tr>
									<th>Transaction ID</th>
									<th>Address</th>
									<th>Name</th>
									<th>Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>								
								
						      <% @transctions.each do |tranc| %>
						        <tr class="odd gradeX">     
						         <td>ITQ<%= tranc.transaction_id %> </td>
						         <td><%= tranc.address %></td>
						         <td><%= @user.first['first_name'] %> <%= @user.first['last_name'] %></td>
						         <td><%= tranc.last_purchase_date %></td>
						         <td class="center"><a style="cursor: pointer" onclick='abc(<%= tranc.transaction_id %>)'>View</a></td>
							    </tr>
						   <% end %>							
								
					 	</tbody>
					  </table>

					</div>

				</div>
				<div style="clear:both;"></div>

			</div>
			<!--End #content_wrapper-->
		</div>
		<!--End #bg_wrapper-->

	</body>

</html>
