<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ProspectZen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
		<link href="/assets/bootstrap.css" rel="stylesheet">
		<link href="/assets/flat-ui.css" rel="stylesheet">
		<link href="/assets/reset.css" rel="stylesheet">
		<link href="/assets/style_user_status.css" rel="stylesheet">

<!--		<link href="/assets/mediaqueries_user_status.css" rel="stylesheet">-->
		<link rel="stylesheets" type="text/css" href="/assets/dataTables.bootstrap.css">
		<style>
            
            body{
            overflow-y:scroll !important;
            }
            #myModal{
                overflow-y:hidden;
            }
            .mylabel{
            background-color: #999;
            }
            .label-important{
                background-color:#b94a48;
            
            }
            #content_wrapper{
            
                min-width: 1083px;
            
            }
            #menu_content{
            
                min-width: 900px;
            
            }
            .panel-body{
                border-top-left-radius:0px;
                border-top-right-radius:0px;
                padding:0px;
                padding-top:15px;
                padding-bottom:15px;
            }
            .panel-body ul li{
/*                border-bottom:1px solid #0C8722;*/
                padding-left:16px;
            }
            .panel-body ul li:last-child{
                border-bottom:0px;
            }
            .nav-pills > li > a{
                font-size:16px;
            }
            #usr_purchases a{
            font-size:16px;
                
            }
            	span.customSelect {
				
				padding: 6px 12px !important;
				border: 2px solid #5cb85c;
				-moz-border-radius: 0px;
				-webkit-border-radius: 0px;
				border-radius: 0px;
                height:41px !important
			}
			span.customSelect.changed {
				background-color: #5cb85c;
                color:#fff;
			}
			.customSelectInner {
				background: url(/assets/customSelect-arrow.gif) no-repeat center right;
                width:50px !important;
				
			}
            </style>
        <script src="/assets/jquery.js"></script>
            <script type="text/javascript" src="/assets/jquery.customSelect.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script src="/assets/jquery.dataTables.min.js"></script>
		<script src="/assets/dataTables.bootstrap.js"></script>
		<script>
            
            
            
			$(document).ready(function() {

                
    
				$('#example').dataTable({
                "aaSorting": []
                });
                
                 $('label').css("marginTop","6px !important;");
                 $('#example_length label select.input-sm').customSelect();
            

				$('.dataTables_filter input').attr("placeholder", "Search by address, name, city, zip, anything!");
				$('.dataTables_filter input').attr("class", "form-control");
                $('.dataTables_filter input').css({"border-radius":"0px","border-color":"#5cb85c","fontSize":"18px"});
				$('#example_paginate').css({
					
					"font-size" : "14px",
					"float" : "right",
					"margin-bottom" : "25px",
                    "margin-right":"15px"
				});
				$('.dataTables_filter input').css({
					"width" : "90%",
					"margin-top" : "-13px",
					"position" : "absolute",
					"right" : "22px"
				});
               
				//                $('.dataTables_filter input').css("margin-top", "5px");
				$('table').css({
					"width" : "100%"
				});
                $('.input-sm').css({"padding":"0px 12px","fontSize":"18px","fontFamily":"latobold"});

				$('#example_length label select').css("display","inline");
				$('#example_length select.form-control').css({"height":"46px","border-radius":"0px","border-color":"#5cb85c"});
                if($(window).width()<=767){
                    $('#example_length select.form-control').css("width", "42px");
                    
                }
                $(window).resize(function(){
                    
                    if($(window).width()<=767){

                        $('#example_length select.form-control').css("width", "42px");
                        
                    }
                    $('#collapseOne').removeClass('panel-collapse collapse in');
                    
                    $('#collapseOne').addClass('panel-collapse collapse');
                });
				$('#example_length').css({
					"margin-left" : "5px",
					"padding" : "5px 10px",
                    "float":"right"
				});
				$('#example_info.dataTables_info').css({
					"display" : "none"
				});

			});
		</script>

		<script>
			var id1;
			var new_status1;
			var newstatus1;
			function abc(id) {
                
                
                
				id1 = id
				$.ajax({
					url : "/homes/infofetch",
					type : "POST",
					dataType : 'JSON',
					data : {
						'user_id' : id
					},
					success : function(response) {
						$("#name").html("<span style='font-family:latobold'>Name: </span>" + response['info'][0]['first_name'] + " " + response['info'][0]['last_name']);
						$("#company").html("<span style='font-family:latobold'>Company: </span>" + response['info'][0]['company_name']);
						$("#username").html("<span style='font-family:latobold'>User name: </span>" + response['info'][0]['company_email_id']);

						if (response['info'][0]['active_status'] == '0')
							status = 'Applied'
						else if (response['info'][0]['active_status'] == '1')
							status = 'Approved'
						else if (response['info'][0]['active_status'] == '2')
							status = 'Waitlisted'
						else if (response['info'][0]['active_status'] == '3')
							status = 'Denied'
						else
							status = 'Blocked'

						$("#status").html("<span style='font-family:latobold'>Current status: </span>" + status)
						$("#new_status").html("<span style='font-family:latobold'>New status: </span>" + $("#statuspicker" + id).val())

						new_status1 = $("#statuspicker" + id).val();

						$("#myModal").modal();
					}
				});
			}

			function clearbox() {
				$("#name").html('');
			}

			function changeStatus() {
				$('#myModal').modal('hide');
                var this_class='';
				$.ajax({
					url : "/homes/changestatus",
					type : "POST",
					dataType : 'JSON',
					data : {
						'user_id' : id1,
						'newstatus' : new_status1
					},
					success : function(response) {

						if (new_status1 == "Approve") {
							newstatus1 = 'Approved';
                            this_class='label label-success';
							$("#statuspicker" + id1).html('<option>Block</option>');
						} else if (new_status1 == "Waitlist") {
							newstatus1 = 'Waitlisted';
                            this_class='label label-warning';
							$("#statuspicker" + id1).html('<option>Approve</option>');
						} else if (new_status1 == "Deny") {
							newstatus1 = 'Denied';
                            this_class='label label-important';
							$("#statuspicker" + id1).html('');
						} else if (new_status1 == "Block") {
							newstatus1 = 'Blocked';
                            this_class='label mylabel';
							$("#statuspicker" + id1).html('<option>Unblock</option>');
						} else if (new_status1 == "Unblock") {
							newstatus1 = 'Approved';
                            this_class='label label-success';
							$("#statuspicker" + id1).html('<option>Block</option>');
						}
						$("#modified_status" + id1).html("<span class='"+this_class+"'>"+newstatus1+"</span>");
                        

					}
				});
			}

		</script>
	</head>

	<style>
		#leftcolumn {
			height: 100%;
			width: 15%;
			background-color: grey;
			float: left;
		}

		input.form-control.input-sm {
			width: 600px;
		}

		#usertable {
			height: 100%;
			width: 85%;
			float: left;
		}
	</style>

	</head>
	<body>

		<div class="container">
			<div id="bgnav" class="navbar navbar-fixed-top navbar-inverse">
				<div id="navigation" role="navigation">

					<div class="navbar-header">

						<button id="btn_collapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navlink" style="color: white;" href='/homes/adminuserstatus'>
						<div id="logo"></div> </a>

					</div>
					<div class="collapse navbar-collapse no-transition">
						<ul id="pull_right" class="nav navbar-nav">

							<li>
								<form action="../homes/adminlogout" method="post">
									<input id="login" class="form-control" type="submit" value="LOGOUT"/>

								</form>
							</li>

						</ul>

					</div><!-- /.nav-collapse -->

				</div><!-- /.navbar -->
			</div>
		</div>
		<!--End .container-->

		<div id="bg_wrapper">
			<div id="content_wrapper">
				<div id="sidebar_menu" style="float:left;">
					<ul id="menu_list" class="nav nav-pills nav-stacked">
						<li id="usr_status">
							<a href="/homes/adminuserstatus"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-thumbs-up"></span>User Statuses</a>
						</li>
						<li id="usr_profile">
							<a href="/homes/adminuserprofile"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-user"></span>User Profiles</a>
						</li>
						<li id="usr_payment">
							<a href="/homes/adminuserpayment"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-credit-card"></span>User Payment</a>
						</li>
                        <li id="usr_purchases"  class="panel">
                           <a  class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-list"></span>User Purchases</a>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li id="admn_itq_panel"><a href="/homes/adminuserpurchase" style="color:#000">Instant Prospect Qualifier  </a></li>
                                        <li id="admn_itm_panel"><a href="#" style="color:#000">Instant Prospect Generator  </a></li>
                                        <li id="admn_ih_panel"><a href="#" style="color:#000">Instant 3D Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
						<li id="usr_sales">

							<a href="/homes/sales"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-usd"></span>Sales</a>

						</li>
					</ul>
				</div>
				<div id="menu_content" style="float:right;">

					<div id="menu_content_header">
						  		<div style="float:left;font-family:'latolig'">Manage user statuses here</div>
								     <% if session[:super_admin_user_id]%>						
									<div style="float:right"><a href="/homes/superadmin" style="color:#fff;font-family:latolig">Super Admin</a></div><div style="clear:both"></div>
										<%end%>
                                    <div style="clear:both;"></div>
                    </div>

					<div id="menu_content_profile_set">

						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
							<thead>
								<tr>
									<th>Name</th>
									<th>User Name</th>
									<th>Company</th>
									<th>Status</th>
									<th>Last Activity</th>
									<th>Change Status</th>
								</tr>
							</thead>
							<tbody>
								<% @allusers.each do |user| %>
								<tr>
									<td><%= user.first_name %> <%= user.last_name %></td>
									<td><%= user.company_email_id %></td>
									<td><%= user.company_name %></td>
									<td id="modified_status<%= user.id%>"><% if user.active_status=='0' %>
								    <span class="label label-info">Applied</span>
									<% elsif user.active_status=='1' %>
									<span class="label label-success">Approved</span>
									<% elsif user.active_status=='2' %>
									<span class="label label-warning">Waitlisted</span>
									<% elsif user.active_status=='3'%>
									<span class="label label-important">Denied</span>
									<% else %>
									<span class="label mylabel">Blocked</span>
									<% end %> </td>
									<td><%= user.last_activity %></td>

									<td>
									<div style="float: left;">
										<select class="selectpicker" id="statuspicker<%= user.id%>" style="width: 80px">

											<% if user.active_status=='0' %>

											<option>Approve</option>
											<option>Deny</option>
											<option>Waitlist</option>

											<% elsif user.active_status=='1' %>

											<option>Block</option>

											<% elsif user.active_status=='2' %>

											<option>Approve</option>

											<% elsif user.active_status=='3'%>

											<% else %>

											<option>Unblock</option>

											<% end %>
										</select>
									</div>
									<input type='hidden'   value='<%= user.id%>' name='id'>
									<a style="cursor: pointer; margin-left: 10px"   onclick='abc(<%= user.id %>)' >Change</a></td>

								</tr>
								<% end %>

							</tbody>
						</table>

					</div>
				</div>
				<div style="clear:left;"></div>

			</div>
			<!--End #content_wrapper-->
		</div>
		<!--End #bg_wrapper-->

		<div  class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" style="background-color:#5cb85c">
						<h4 class="modal-title" style="color: white; text-align: center;" >You are changing a user status!</h4>
					</div>
					<div class="modal-body" style="height:210px;line-height:22px;background-color:#fff;">
						<label id='name'> </label>
						<br>
						<label id='company'></label>
						<br>
						<label id='username'></label>
						<br>
						<label id='status'> </label>
						<br>
						<label id='new_status'></label>
						<br>
                        <div style="margin-top:10px;"></div>
						<div style="width:205px;margin:0 auto;height:35px;">
                        <input class="w-button address-button apply-button btn btn-primary" id="confirm" type="button" onclick="changeStatus()" style="float: left;display: inline;color: white;background-color: #C0392B ;padding: 7px 20px;border-radius:0px;border:2px solid #C0392B ;" value="Confirm" >
						</input>
						<input type="submit" class="w-button address-button apply-button btn btn-primary" data-dismiss="modal" style=" float:left; margin-left: 17px; display: inline;background-color: #fff;padding: 7px 20px;border-radius:0px;border:2px solid #5cb85c;color:#000;" value="Cancel" onclick="clearbox()">
						</input>
                        </div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
    
	</body>

</html>
