<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ProspectZen</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
		<link href="/assets/bootstrap.css" rel="stylesheet">
		<link href="/assets/flat-ui.css" rel="stylesheet">
		<link href="/assets/reset.css" rel="stylesheet">
		<link href="/assets/style_profileview_by_admin.css" rel="stylesheet">

<!--		<link href="/assets/mediaqueries_profileview_by_admin.css" rel="stylesheet">-->
       <style>
        #content_wrapper{
            
                min-width: 1083px;
            
            }
            #menu_content{
            
                min-width: 900px;
            
            }
           .panel-body{
                border-top-left-radius:0px;
                border-top-right-radius:0px;
                padding:0px;
                padding-top:15px;
                padding-bottom:15px;
            }
            .panel-body ul li{
/*                border-bottom:1px solid #0C8722;*/
                padding-left:16px;
            }
            .panel-body ul li:last-child{
                border-bottom:0px;
            }
           .nav-pills > li > a{
                font-size:16px;
            }
           #usr_purchases a{
            font-size:16px;
           }
            #usr_profile a{
            font-size:16px;
           }
        </style>
		<script src="/assets/jquery.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/jquery.inputmask.js"></script>
        
		
		
        <script>        
           
           $( document ).ready(function() {
	
					$('#new_title').focusin(function() { 
					  $('#e_title').html(''); 
					});
						
	
					$('#new_psd').focusin(function() { 
					  $('#npass').html(''); 
					  $('#passwd_match').html(''); 
					});
					
					$('#con_new_psd').focusin(function() { 
					  $('#conpass').html(''); 
					  $('#passwd_match').html(''); 
					});
					
					$('#cur_psd').focusin(function() { 
					  $('#cpass').html(''); 					  
					});
					
					$('#newmobilephn').focusin(function() { 
					  $('#e_mphone').html('');					  
					});
					
					$('#newworkphn').focusin(function() { 
					  $('#e_wphone').html('');					  
					});
					
					$("#newmobilephn").mask("999-999-9999");
                    $("#newworkphn").mask("999-999-9999");
					
			});
				
        
           function updateTitle()
            {
            	
               	if ($('#new_title').val() == '' || $('#new_title').val() == null )
				{
							$('#e_title').html("Title can't be blank.");
				}
            	
            	else{
            			    $("#title_btn").val('Updating...');
	    	            	$.ajax({
			            	url: "/homes/profileupdatebyadmin",
			        	    type: "POST",
			            	dataType: 'JSON',
			            	data: { 'ntitle' : $("#new_title").val() }, 
			            
			            	success: function(response){
			            		  
			            		                       $('#cur_title').html($("#new_title").val());
			     			                           $("#new_title").val('');
			     									   $("#title_btn").val('Updated');
			     			  }
			            	 }); 
            	}
            }
              
        
            function updateMobilePhone()
            {   
            	 
            	if ($('#newmobilephn').val() == '' || $('#newmobilephn').val() == null)
				{
							$('#e_mphone').html("Mobile phone can't be blank.");
				}
						
				else 
				{		
					
                	$("#mobile_btn").val('Updating...');	
                				        	
	            	$.ajax({
	            	url: "/homes/profileupdatebyadmin",
	        	    type: "POST",
	            	dataType: 'JSON',
	            	data: { 'mphone' : $("#newmobilephn").val() }, 
	            
	            	success: function(response){
	            		     			                           
	     			                           $('#cur_mphone').html($("#newmobilephn").val());
	     			                           $("#newmobilephn").val('');
	     			                           $("#mobile_btn").val('Updated');
	     			                           
	        	        }
	            	 });              	
                }
                
               
            }
            
            
            
            function updateOfficePhone()
            {
            	
            	            	 
            	if ($('#newworkphn').val() == '' || $('#newworkphn').val() == null)
				{
							$('#e_wphone').html("Work phone can't be blank.");
				}
						
				else 
				{	 
					$("#work_btn").val('Updating...');  
            	             	          	
	            	$.ajax({
	            	url: "/homes/profileupdatebyadmin",
	        	    type: "POST",
	            	dataType: 'JSON',
	            	data: { 'ophone' : $("#newworkphn").val() }, 
	            
	            	success: function(response){
	            		  
	            		                       $('#cur_ophone').html($("#newworkphn").val());
	     			                           $("#newworkphn").val('');
	     									   $("#work_btn").val('Updated');
	     			  }
	            	 }); 
	            } 
	            		              	
            	
            }
        
                
        </script>

	</head>
	<body>

		<div class="container">
			<div id="bgnav" class="navbar navbar-fixed-top navbar-inverse">
				<div id="navigation" role="navigation">

					<div class="navbar-header">
						<a class="navlink" style="color: white;" href='/homes/adminuserstatus'>
						<div id="logo">							
						</div> </a>

					</div>
					
						<ul id="pull_right" class="nav navbar-nav">					
							<li>
								<form action="../homes/adminlogout" method="post">
									<input id="login" class="button" style='width:91px; font-size:15px;height: 41px' type="submit" value="LOGOUT"/>
								</form>
							</li>

						</ul>

					

				</div><!-- /.navbar -->
			</div>
		</div>
		<!--End .container-->

		<div id="bg_wrapper">
			<div id="content_wrapper">
				<div id="sidebar_menu" style="float:left;">
					<ul id="menu_list" class="nav nav-pills nav-stacked">			
                        
                        
                        <li id="usr_status">
							<a href="/homes/adminuserstatus"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-thumbs-up"></span>User Statuses</a>
						</li>
						<li id="usr_profile">
							<a href="#"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-user"></span>User Profiles</a>
						</li>
						<li id="usr_payment">
							<a href="/homes/adminuserpayment"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-credit-card"></span>User Payment</a>
						</li>
                        <li id="usr_purchases"  class="panel">
                           <a  class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-list"></span>User Purchases</a>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li id="admn_itq_panel"><a href="/homes/adminuserpurchase" style="color:#000">Instant Prospect Qualifier  </a></li>
                                        <li id="admn_itm_panel"><a href="#" style="color:#000">Instant Prospect Generator  </a></li>
                                        <li id="admn_ih_panel"><a href="#" style="color:#000">Instant 3D Home</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
						<li id="usr_sales">

							<a href="/homes/sales"><span style="margin-right:3px;font-size:16px;" class="glyphicon glyphicon-usd"></span>Sales</a>

						</li>
					</ul>
				</div>
				<div id="menu_content" style="float:right;">
					<a href="/homes/adminuserprofile" style="font-size:16px;color:#000;margin-left:15px;">&lt;Back to list</a>
					<div id="menu_content_header" style="font-family:'latolig';">
						Profile of <%= @user.first['first_name'] %> <%= @user.first['last_name'] %> @ <%= @user.first['company_name'] %>
					</div>

					<div id="menu_content_profile_set">						
                                
					
						<div id="change_info">
                            
                            <div class="chnginf">
								<div class="form-horizontal">

									<div class="form-group">
                                    <div class="col-sm-6">Name</div><div class="col-sm-6"><%=@user.first['first_name']+' '+@user.first['last_name'] %></div>
                                    </div>                                                                

								</div>
							</div>
                            
                            
                            <div class="chnginf">
								
                                
                                
                                <div class="form-horizontal" style="line-height:20px;">
									
									<div class="form-group">
                                        <label style="text-align: left;" class="col-sm-6 control-label">Title</label>
                                        <div class="col-sm-6">
                                            <p class="form-control-static" id="cur_title"><%=@user.first['title'] %></p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label style="text-align: left;" for="new_title" class="col-sm-6 control-label">New Title</label>
                                        <div class="col-sm-6">
                                            <input style="width: 251px;border: 0;border-bottom: 1px dashed #5cb85c;border-radius: 0px;
height: 35px;padding: 8px 0px;" type="text" class="form-control" id="new_title"  placeholder="Enter New Title">
                                            <span style="color: red;" class="error_msg" id="e_title"></span>                                                                        <br />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="mobile_btn" class="col-sm-6 control-label"></label>
                                        <div class="col-sm-6">
                                            <input type="button" class="form-control" id="title_btn" onclick="updateTitle()" value="Update"> </input>
                                        </div>
                                    </div>
                                    <div style="clear:both;margin-bottom:25px;"></div>

                                 </div>
							</div>
                            
                            
                        
                        
                        <div class="chnginf">
								<div class="form-horizontal">

									<div class="form-group">
                                        <div class="col-sm-6">Company</div><div class="col-sm-6"><%=@user.first['company_name'] %></div>

                                        <div class="col-sm-6 ">Address</div><div class="col-sm-6"><%=@user.first['company_address'] %></div>

                                    </div>                                  

								</div>
							</div>
                        
                        
                        
                        
                        
                            
							<div id="change_info_username" class="chnginf">
								<div class="form-horizontal">

									<div class="form-group">
										<label style="text-align: left;" class="col-sm-6 control-label">Username</label>
										<div class="col-sm-6">
											<p class="form-control-static">
												<%= @user.first['company_email_id'] %>
											</p>
										</div>
									</div>

								</div>
							</div>
							<div id="change_info_mobile_phn" class="chnginf">
								<div class="form-horizontal">

									<div class="form-group">
										<label style="text-align: left;" class="col-sm-6 control-label">Mobile phone</label>
										<div class="col-sm-6">
											<p class="form-control-static" id="cur_mphone">
												<%= @user.first['mobile_phone'] %>
											</p>
										</div>
									</div>

									<div class="form-group">
										<label style="text-align: left;" for="newmobilephn" class="col-sm-6 control-label">New mobile phone</label>
										<div class="col-sm-6">
											<input style="width: 251px;border: 0;border-bottom: 1px dashed #5cb85c;border-radius: 0px;
height: 35px;padding: 8px 0px;" type="text" class="form-control" id="newmobilephn" placeholder="555-555-5555">
											<span style="color: red;" class="error_msg" id="e_mphone"></span>
											<br>
										</div>
									</div>

									<div class="form-group">
										<label for="mobile_btn" class="col-sm-6 control-label"></label>
										<div class="col-sm-6">
											<input type="button" class="form-control" id="mobile_btn" onclick="updateMobilePhone()" value="Update">
											</input>
										</div>
									</div>

								</div>
							</div>

							<div id="change_info_work_phn" class="chnginf">
								<div class="form-horizontal">

									<div class="form-group">
										<label style="text-align: left;" class="col-sm-6 control-label">Work phone</label>
										<div class="col-sm-6">
											<p class="form-control-static" id="cur_ophone">
												<%= @user.first['office_phone'] %>
											</p>
										</div>
									</div>
									<div class="form-group">
										<label style="text-align: left;" for="newworkphn" class="col-sm-6 control-label">New work phone</label>
										<div class="col-sm-6">
											<input style="width: 251px;border: 0;border-bottom: 1px dashed #5cb85c;border-radius: 0px;
height: 35px;padding: 8px 0px;"type="text" class="form-control" id="newworkphn" placeholder="123-555-7890">
											<span style="color: red;" class="error_msg" id="e_wphone"></span>
											<br>
										</div>
									</div>

									<div class="form-group">
										<label for="work_btn" class="col-sm-6 control-label"></label>
										<div class="col-sm-6">
											<input type="button" class="form-control" id="work_btn" onclick="updateOfficePhone()" value="Update">
											</input>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				<div style="clear:left;"></div>

			</div>
			<!--End #content_wrapper-->
		</div>
		<!--End #bg_wrapper-->

	</body>

</html>
